In [ ]:
#q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

#q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

#q3 : Try to extract all the list entity 
#q4 : Try to extract all the dict enteties
#q5 : Try to extract all the tuples entities
#q6 : Try to extract all the numerical data it may b a part of dict key and values 
#q7 : Try to give summation of all the numeric data 
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
#q9 : Try to extract "ineruon" out of this data
#q10 : Try to find out a number of occurances of all the data 
#q11 : Try to find out number of keys in dict element
#q12 : Try to filter out all the string data 
#q13 : Try to Find  out alphanum in data
#q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [4]:
#2
rows=int(input("enter the number of rows you want to print"))
print()
for i in range(rows):
    print("ineuron "*(i+1))

enter the number of rows you want to print4

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [10]:
#3.
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineuron "*n).center(20,' '))

      ineuron
  ineuron ineuron
ineuron ineuron ineuron
  ineuron ineuron
      ineuron

In [12]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [31]:
#4.
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [14]:
#5.
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [32]:
#6.
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [29]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [33]:
#7.
sum(l1)

156

In [35]:
#8.
l2=[]
for i in l1:
    if i%2 !=0:
        l2.append(i)

In [36]:
l2

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [47]:
#9.
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g=="ineuron":
                    l1.append(g)

In [48]:
l1

['ineuron', 'ineuron']

In [51]:
#10.
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)==str:
                    l1.append(g)

In [52]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [54]:
#11.
for i in set(l1):
    print(i,":" ,l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
ineuron : 2
8 : 1
data science  : 1
45 : 1
sudh : 1
k3 : 1
23 : 1
k2 : 1
kumar : 1

In [58]:
#12.
for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))

5

In [59]:
#12.
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [64]:
#13.
for i in l1:
    if type(i)==str:
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [66]:
#13:
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron


l1

In [72]:
j=1
for i in l1:
    if type(i)==int:
        j=j*i
print(j)

908605071360000

In [93]:
for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m =  m * j
        print(type(i) , m)
    if type(i) == dict :
            for k in i.items():
                for n in k:
                     if type(n) == int:
                        m = m * n
            print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [85]:
for i in l :
    m = 1
    if type(i) == list  or type(i)  == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m * j
        print(type(i) , m)
    if type(i) == dict:
        for k in i.items():
            for n in k :
                if type(n) == int : 
                    m = m * n
        print(type(i) , m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [77]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]